body {
    background-color: #eee;
    color: #111;
    font-family: 'Optima', 'Bitstream Vera Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

#card {
    width: 650px;
    height: 350px;
    position: relative;
    margin: auto;
    background-color: #fff;
    box-shadow: 10px 10px 5px #ddd;
}

#nav-column {
    float: left;
    margin: 0;
    width: 200px;
    height: 100%
}

#nav-wrap {
    height: 100%;
    width: 100%;
    background-color: #666;
    color: #ccc;
    font-size: small;
}

#nav-image {
    width: 200px;
}

#nav {
    padding: 0px 0px 0px 20px;
}

.nav-icon {
    width: 25px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

#content-column {
    float: left;
    margin: 0;
    width: 68%;
    height: 100%;
}

#content {
    height: 100%;
    padding: 30px;
    text-align: justify;
    overflow: auto;
}

#news {
      color: #888;
      font-weight: bold;
      font-size: small;
}

#title {
    color: #777;
}

.content-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.social-icon-small {
    height: 13px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

#headshot {
    border: 0;
    width: 90%;
}

h2 {
    margin: 0;
    color: #666;
}

a {
    text-decoration: none;
}

a:link {
    color: #05b; 
}

a:visited {
    color: #05b; 
}

a:active {
    color: #999;
}

a:hover {
    color: #999;
}

a.nav:link {
    color: #fff;
}

a.nav:visited {
    color: #fff;
}

a.nav:active {
    color: #ccc;
}

a.nav:hover {
    color: #ccc;
}

a.hide:link {
    color: #111; 
}

a.hide:visited {
    color: #111; 
}

a.hide:active {
    color: #999;
}

a.hide:hover {
    color: #999;
}

strong {
    color: #777;
}