body {
	background-color: #eee; 
}

#card {
    width: 650px;
    height: 350px;
    position: relative;
    margin: auto;
    background-color: #fff;
    box-shadow: 10px 10px 5px #ddd;
}

#column33 {
    float: left;
    margin: 0;
    width: 33%;
}

#column67 {
    float: left;
    margin: 0;
    width: 67%;
}

.content {
    padding: 20px 20px 20px 20px;
    font-family: 'Optima', 'Bitstream Vera Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: auto;
}

.social-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.social-icon-small {
    height: 10px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

#headshot {
    border: 0;
    width: 90%;
}

h1 {
    margin: 5px 0;
    color: #888;
}

h2 {
    margin: 0;
    font-variant: small-caps;
    color: #666;
}

a {
    text-decoration: none;
}

a:link {
    color: #05b; 
}

a:visited {
    color: #05b; 
}

a:active {
    color: #999;
}

a:hover {
    color: #999;
}

.email { 
    font-size: small;
}

